{
  "gcp_project_id": "",
  "gcp_region": "",
  "gke_cluster_name": "",
  "gke_version_prefix": "",
  "gke_nodepools": {
    "se-latam-nodepool": {
      "machine_type": "",
      "service_account": "",
      "nodepool_labels": {},
      "autoscaling": {
        "min_node_count": "",
        "max_node_count": ""
      },
      "node_locations": [],
      "tags": "",
      "node_taints": ""
    }
  }
}